<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>ITMD 562 - vkasu - Heroku Deploy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="librarium.css">
</head>
<body>
	<div class="container">
		<div class="container-fluid content-holder">
			<h1 align="center">Librarium Test Code</h1>
	
			<div id="reviewContent">
				<h3 id="bookTitle" align="center"></h3>
				<div id="listOfReviews"></div>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="librarium.js"></script>
	
</body>
</html>
