<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>ITMD 462/562 - Team2 Project</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/librarium.css">
</head>
<body>
	<div class="container">
		<div class="container-fluid content-holder">
			<div class="row mainHeading margin5">
				<div class="col-xs-9">
					<h2 class="paddingLeft280">Librarium Website</h2>
				</div>
				<div class="col-xs-3">
					<img src="images/booksLogo.png" class="mainImage" alt="logoDisplay">
				</div>
			</div>
			<div id="MainPageLook">
				<div>
					<h3 class="marginLeft8" align="center">Welcome To The BookStore!</h3>
				</div>
				<div>
					<select class="selectOptions">
						<option value="">Choose A Category</option>
						<option value="scienceFiction">scienceFiction</option>
						<option value="science">science</option>
						<option value="novel">novel</option>
						<option value="Horror">Horror</option>
						<option value="Health">Health</option>
					</select>
				</div>
				<div class="searchCategoryButton">
					<button id="searchCategory" class="btn btn-primary" type="button">Search Category</button>
				</div>
				<div>
					<img src="images/library.jpg" alt="library image shown here" class="libraryImage">
				</div>
			</div>
			<div id="categorizedContent" class="hide">
				<div>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>S.No</th>
								<th>Book Name</th>
								<th>Author</th>
								<th>ISBN</th>
								<th>Original Cost</th>
								<th>Member Cost</th>
								<th>AvailableBooks</th>
								<th>Review</th>
								<th>Select</th>
							</tr>
						</thead>
						<tbody id="mainCategorizedTbody">
						</tbody>
					</table>
				</div>
				<div id="rentButton" class="paddingRight50">
					<button id="checkoutSelected" type="button" class="btn btn-primary rentButtonAlign" disabled>Checkout Selected</button>
				</div>
				<div id="reviewContent" class="marginTop100">
					<h3 id="bookTitle" align="center"></h3>
					<div id="listOfReviews"></div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="scripts/librarium.js"></script>
	
</body>
</html>
