.content-holder{
	box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	background-color: mintcream;
}

.boxshadow{
	box-shadow: 0px 1px 4px rgba(0,0,0,0.15);
}

.resultsDivCreation{
	border: 1.4px solid black;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.paddingRight50{
	padding-right: 50px;
}

.rentButtonAlign{
	margin: 10px;
    float: right;
}

.margin5{
	margin:5px;
}

.marginLeft8{
	margin-left: 8px;
}

.paddingLeft280{
	padding-left: 280px;
}

.selectOptions{
	margin-left: 480px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.marginTop100{
	margin-top: 100px;
}

.searchCategoryButton{
	padding-left: 490px;
    padding-bottom: 20px;
}

.recentOrdersButton{
	float:right;
	padding:10px;
}

.libraryImage{
	width: 40%;
    margin-left: 330px;
    margin-bottom: 30px;
}

.textAlignCentre{
	text-align: center;
}

.marginLeft250{
	margin-left: 250px;
}

.checkoutHR{
	margin-left: 745px !important;
    margin-top: -10px !important;
    border-top: 1px solid black !important;
}

.mainImage{
	width: 40%;
    padding: 10px;
}

.paddingLeft790{
	padding-left: 790px;
}

.mainHeading{
	background-color: antiquewhite;
    text-align: center;
}

.addOrderButton{
	float: right;
    margin-Top: -45px;
}

.totalBalance{
	font-weight: bolder;
}

.bookRentCost{
	color: gray;
	font-weight: bolder;
	background-color: #dddddd;
}

.remainingBalance{
	font-size: 20px;
	border: groove;
}
